<%= form_with model: [ @category, @task ], html: {class: "myForm"} do |form| %>
  
  <div class="labelInputCon">
    <div class="labels">
      <div><%= form.label :title, :class => "subLabel" %>:</div>
      <div><%= form.label :description, :class => "subLabel" %>:</div>
      <div><%= form.label :deadline, :class => "subLabel" %>:</div>
    </div>
    <div class="inputs">
      <%= form.text_field :title, placeholder:'task title...', :class => "subInput" %>
      <%= form.text_field :description, placeholder:'description...', :class => "subInput" %>
      <%= form.text_field :deadline, placeholder:'select date and time...',
                          class: 'datepicker subInput' %>
    </div>
  </div>

  <%= javascript_pack_tag 'flatpickr' %>

  <div class="accomplished">
    <%= form.label :completed, "Task finished?" %>
    <%= form.check_box :completed %>
  </div>

  <div>
    <%= form.submit 'Submit', class: 'submitBtn' %>
  </div>

  <div class="reminder">
    Please fill in all the details required*
  </div>
<% end %>