<%= form_with model: [ @category, @task ], html: {class: "myForm"} do |form| %>
  
  <div><%= form.label :title, :class => "subLabel" %>:</div>
  <%= form.text_field :title, placeholder:'task title...', :class => "subInput" %>

  <div><%= form.label :description, :class => "subLabel" %>:</div>
  <%= form.rich_text_area :description, placeholder:'description...', :class => "subInput",
                        size: '50x3' %>

  <div><%= form.label :deadline, :class => "subLabel" %>:</div>
  <%= form.text_field :deadline, placeholder:'select date and time...',
                          class: 'datepicker subInput' %>
  
  <%= javascript_pack_tag 'flatpickr' %>

  <div class="accomplished">
    <%= form.label :completed, "Task finished?" %>
    <%= form.check_box :completed %>
  </div>

  <div>
    <%= form.submit 'Submit', class: 'submitBtn' %>
  </div>

  <div class="reminder">
    Please fill in all the details required*
  </div>
<% end %>