<h1>ADD TASK</h1>

<%= form_with model: [ @category, @category.tasks.build ] do |f| %>
<%# @category is from your tasks_controller.rb %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <div>
    <%= f.submit 'Create Task' %>
  </div>
<% end %>

<% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %>