<%= form_with model: @category do |f| %>
  <div>
    <%= f.label :title, class: 'cat-label' %>
    <br>
    <%= f.text_field :title, class: 'cat-input' %>
  </div>
  <div>
    <%= f.label :description, class: 'cat-label' %>
    <%= f.rich_text_area :description %>
  </div>
  <div>
    <%= f.submit class: "catBtn edit-create-btn" %>
  </div>
<% end %>