<h1>Category Title</h1>
<div><%= @category.title %></div>
<br>
<h1>Category Description</h1>
<div><%= @category.description %></div>

<%= link_to edit_category_path(@category) do %>
  <%= content_tag :button, "Edit", class: "edit-btn" %>
<% end %>
<%= link_to category_path, method: :delete, data: {confirm: "Are you sure?"} do %>
  <%= content_tag :button, "Delete", class: "delete-btn" %>
<% end %>

<br>
<%# PROGRESS BAR %>

<h1>Progress:</h1>
<p><%= @completed_tasks %> of <%= @total_tasks %> tasks accomplished</p>
<div class="progress">
  <div class="progress-bar" role="progressbar" style="width: <%= @percent_complete %>%;" aria-valuenow="<%= @percent_complete %>" aria-valuemin="0" aria-valuemax="100"><%= @percent_complete %>%</div>
</div>

<%= render "tasks/today" %>

<%= render "tasks/others" %>

<%= link_to 'Add Task', new_category_task_path(@category) %>

<% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %>
