<h1>Category Title</h1>
<div><%= @category.title %></div>
<br>
<h1>Category Description</h1>
<div><%= @category.description %></div>

<%= link_to edit_category_path(@category) do %>
  <%= content_tag :button, "Edit", class: "edit-btn" %>
<% end %>
<%= link_to category_path, method: :delete, data: {confirm: "Are you sure?"} do %>
  <%= content_tag :button, "Delete", class: "delete-btn" %>
<% end %>

<br>
<%# PROGRESS BAR %>
<%= @category.tasks.count %>

<%= render "tasks/today" %>

<%= render "tasks/others" %>

<%= link_to 'Add Task', new_category_task_path(@category) %>

<% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %>
